html{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  width: 100%;
}
#banner{
  background-image: linear-gradient(0deg,rgba(0,150,0,0.8),rgba(0,0,0,0)),url('images/banner.jpeg');
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%,100%;
  color: white;
  text-align: center;
}
#banner-div{
  margin: auto;
}
#landingh1{
  font-size: 42px;
}
#landingh3{
  color: white;
  font-size: 24px
}
button{
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 10px 20px;
  font-size: 10px;
  margin: 5px;
  box-shadow: 0px 0px 0px 0px white inset;
  transition: box-shadow,color,300ms;
}
button:hover{
  color: black;
  box-shadow: 100px 0px 0px 0px white inset;
}
h1{
  text-align: center;
}
h3{
  color: green; 
  text-align: center;
}
.bottomglow{
  margin: auto;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,255,0,0.1));
  padding-bottom: 5px;
  max-width: 90%;
}
.iconandtxt{
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconandtxt img{
  height: 24px;
  width: 24px;
  margin-right: 10px;
}
.imgandtxt{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0px;
  text-align: center;
}
.img{
  display: flex;
  justify-content: center;
}
.img img{
  width: 70%;
  height: auto;
  border-radius: 15px;
  margin: auto;
}
.txt{
  width: 70%;
  margin: auto;
}
.impacts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
  margin: auto;
}
.impactsimg{
  border-radius: 10px;
  overflow: hidden; /*very nice thing to make corner round when anything inside div bigger then div*/
  color: white;
  position: relative;
}
.impactsimg img{
  width: 100%;
  height: 100%;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(115, 195, 245,0.2),rgba(115, 195, 245,1));
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 1s ;
}
.overlay:hover{
  opacity: 1;
}
.otxt{
  width: 100%;
  height: 100%;
  padding: auto 60px;
  padding-top: 300px;
  transition: padding-top 1s ease-out;
}
.otxt p,hr,.otxt h3{
  width: 70%;
  text-align: center;
  margin: auto;
  color: white;
}
.otxt:hover{
  padding-top: 100px;
}
.econtainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 50px;
  width: 80%;
  margin: auto;
  height: 400px;
}
.card{
  margin-top: 50px;
  position: relative;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px limegreen;
  padding: 10px;
  transition: margin-top 0.3s ease-in-out;
}
.card:hover{
  margin-top: 25px;
}
.card h4{
  font-weight: 500;
}
.card a{
  color: 	#1DA1F2;
  text-decoration: none;
}
.card h4 img{
  height: 15px;
  width: 15px;
  padding-left: 10px;
}
.tweet::before{
  content: '"';
}
.tweet::after{
  content: '"';
}
.credit::before{
  content: '-';
}
.credit{
  position: absolute; 
  bottom: 10px;
  left: 10px;
}